.add-game-form h1 {
    position: static;
    text-align: center;
}

.add-game-form div {
    width: 80%;
    margin: auto;
}

.add-game-form label {
   font-size: 25px;
}

.add-game-form form {
   width: 100%;
}

.add-game-form input, textarea {
   width: 100%;
   margin: 20px 0;
   min-height: 25px;
}

.add-game-form input::file-selector-button {
    font-weight: bold;
    height: 30px;
    width: 20%;
}

.add-game-form p {
    font-size: 20px;
    margin-top: 25px;
    line-height: 1.5;
}

.add-game-form .submit {
    width: 30%;
    margin-top: 20px;
}

.add-game-form .cancel {
    width: 30%;
    margin-top: 20px;
    float: right;
    color: #363636;
}
