.add-game-form {
    h1 {
        position: static;
        text-align: center;
    }
    div {
        width: 80%;
        margin: auto;
    }

    label {
    font-size: 25px;
    }

    form {
    width: 100%;
    }

    input, textarea {
    width: 100%;
    margin: 20px 0;
    min-height: 25px;
    }

    input::file-selector-button {
        font-weight: bold;
        height: 30px;
        width: 20%;
    }

    p {
        font-size: 20px;
        margin-top: 25px;
        line-height: 1.5;
    }

    .submit {
        width: 30%;
        margin-top: 20px;
    }

    .cancel {
        width: 30%;
        margin-top: 20px;
        float: right;
    }
}
