div {
    text-shadow: 1px 1px 0.1cm #fff;
    font-size: 45px;
}

.container-list {
    padding-right: 10px;
}

.list {
    overflow:hidden;
    overflow-y:scroll;
}

.game-list-element {
    margin: 10px;
    height: 80px;
    padding-left: 10px;
    font-size: 40px;
}

.game-list-element::after{
    background-image: linear-gradient( to top, rgb(255 255 255 / 0%), #000);
}

.game-list-element::before{
    background-image: linear-gradient(to bottom, rgb(255 255 255 / 0%), #000);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #242424;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #088f0f;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
