* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.app {

  h1:hover {
    cursor: default;
  }

  .title {
    overflow: auto;
    padding: 10px;
  }

  .login-btns {
    float: right;
  }

  .btn {
    display: inline-block;
    width: 100%;
  }

  .menu-btn {
    margin: 3px;
    width: 23%
  }

  .menu-btns {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media only screen and (max-width: 650px) {
    .menu-btn {
      width: 100%
    }
  }

  .login-btn {
    width: 100%;
  }
}