.color-primary-0 { color: #14980D }	/* Main Primary color */
.color-primary-1 { color: #2E602B }
.color-primary-2 { color: #185515 }
.color-primary-3 { color: #0BE400 }
.color-primary-4 { color: #0AC100 }

.color-secondary-1-0 { color: #BC9310 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #776835 }
.color-secondary-1-2 { color: #69561A }
.color-secondary-1-3 { color: #FFC300 }
.color-secondary-1-4 { color: #EEB600 }

.color-secondary-2-0 { color: #3D1680 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #372951 }
.color-secondary-2-2 { color: #291747 }
.color-secondary-2-3 { color: #530AD2 }
.color-secondary-2-4 { color: #3F05A2 }

body {
  background-color: #242424;
  color: #363636;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

::selection {
  background-color: #242424;
  color: #b5da32;
}

.clickable, .btn {
  transition: background-color 0.3s, color 0.3s;
}

.clickable:hover, .btn:hover {
  background-color: #2003204b;
  color: #fff;
  box-shadow: 0 0 0.2cm #088f0f;
}

.container {
  background-color: #242424;
  border: #393a39 3px solid;
  border-radius: 2px;
}
