
.user-setting-popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: fit-content;

    padding: 30px;
    width: 650px;

    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 3px;

    background-color: #242424;
    box-shadow: 0 0 0.2cm #088f0f;
}

@media (max-width: 758px) {
    .user-setting-popup-window {
        width: 90%;
        font-size:x-large;
    }
}


.user-setting-popup-close-button {
    position: absolute;

    top: -20px;
    right: -20px;

    height: 45px;
    width: 45px;
    border-radius: 50%;
    align-self: flex-end;
}

.user-setting-popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-setting-popup-window h1 {
    font-size: 2.5rem;
    margin-top: 0px;
}

.user-setting-popup-window * {
    margin: 5px;
}

.user-setting-popup-window-background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;   
    height: 100%;
    background-color: #242424aa;
}

.user-setting-popup-window-background input {
    width: 50%;
}