
.main-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: min-content min-content auto;
    align-items: start;

    justify-items: stretch;
    align-content: stretch;
    height: 100%;
}

.user-photo {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.profile-image {
    border: 3px solid black;
    border-radius: 1px;
}

.change-photo {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

.user-info {
    font-size: 20px;
    border: 3px solid black;
    padding: 10px;
    height: 100%;
}

.user-info-table-container {
    border: 3px solid black;
    padding: 20px;
    margin: 20px;
    
    height: 100%;
}

.user-info-table-buttons {
    border: 3px solid black;
    padding: 10px;
}

.user-info-table-buttons-container {
    
}

.user-overview {
    height: 100%;
}

.user-overview-container {
    width: fit-content;
    position: relative;
    margin-left: auto;

    display: flex;
}

.widget {
    margin: 10px;   
}

.settings-button {
    width: 100%;
    align-self: flex-end;

    bottom: 0;
}

.cell {
    display: flex;
    flex-direction: column;
}

.user-achivments {
    padding: 10px;
    border: 3px solid black;
    align-items: right;
}

img { 
    max-width:100%;
}

p {
    margin: 0;
}

body, html {
    width: 100vw; 
    height: 100vh; 
}