
.main-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: min-content min-content 1fr;
    align-items: start;

    justify-items: stretch;
    align-content: stretch;
    height: 100hw;
}

.user-photo {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.profile-image {
    border: 3px solid black;
    border-radius: 1px;
}

.change-photo {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

.user-info {
    font-size: 20px;
    border: 3px solid black;
    padding: 10px;
    height: 100%;
}

.user-info-table-container {
    border: 3px solid black;
    padding: 20px;
    margin: 20px;
    
    height: 100%;
}

.user-info-table-buttons {
    border: 3px solid black;
    padding: 10px;
}

.user-info-table-button {
    width: 100%;
    display: inline;
}

.user-info-table-buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:space-evenly;
}

@media (max-aspect-ratio: 1){
    .user-info-table-buttons-container {    
        grid-template-columns: 1fr 1fr;
    } 
}

@media (max-aspect-ratio: 5/6) { 
    /*Handling collapse*/
    .main-container {
        grid-template-columns: 0% 100%;
    }
    
    .notcollapse {
        background-color: red;
        visibility: collapse;
        width: 0;
    }   

    .collapse {
        visibility: visible;
    }
}

.collapse {
    visibility: collapse;
}

.user-overview {
    height: 100%;
}

.user-overview-container {
    width: fit-content;
    position: relative;
    margin-left: auto;
}

.widget {
    margin: 10px;   
}

.settings-button {
    width: 100%;
    align-self: flex-end;
}

.cell {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.user-achievements {
    bottom: 0;
    padding: 10px;
    border: 3px solid black;
}

img { 
    max-width:100%;
    bottom: 0;
}

p {
    margin: 0;
}

button {
    width: 100%;
    padding: 10px;
}
